#experience img {
    
    background: #f3f3f3;
    width: 150px;
    height: 150px;
    padding: 0.2rem;
    border: 2px solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
    transition: border-radius .3s ease, box-shadow .3s ease;
}

#experience img:hover {
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px var(--gray2);
}

#experience h4 {
    margin: auto;
    font-size: 1rem;
    margin-bottom: 1.5rem;
   
    opacity: 0.3;
    color: grey;
    
    border-radius: 3rem;
}

